@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  /*-fx-muted: #3f3f46;*/
  /*-fx-text: #d4d4d8;*/
  /*-fx-label: #71717a;*/
  -fx-muted: #52525b;
  -fx-text: #111111;
  -fx-label: #232323;

  -fx-primary: #3b82f6;
  -fx-primary-light: #93c5fd;
  -fx-primary-dark: #1e40af;
  -fx-primary-hover: #60a5fa;

  -fx-secondary: #f59e0b;
  -fx-secondary-light: #fcd34d;
  -fx-secondary-dark: #92400e;
  -fx-secondary-hover: #fbbf24;

  /*-fx-bg: #18181b;*/
  /*-fx-fg: #27272a;*/
  -fx-bg: #e5e5e5;
  -fx-fg: #dadada;
  -fx-fg-secondary: #d4d4d4;
  -fx-default-btn: #e0e0e0;
  -fx-default-btn-hover: #c0c0c0;
  /*-fx-prompt-text-fill: #3f3f46 !important;*/
  -fx-prompt-text-fill: #71717a !important;

  -fx-error: #ef4444;
  -fx-warning: #f59e0b;
  -fx-success: #10b981;
  -fx-info: #3b82f6;
  -fx-disabled: #aaaaaa;
}

*:disabled {
  -fx-cursor: not-allowed;
}

.root {
  -fx-font-size: 12pt;
  -fx-font-family: "Poppins", sans-serif;
  -fx-font-smoothing-type: gray;
  -fx-background-color: -fx-bg;
  -fx-text-fill: -fx-text;
}

Button {
  -fx-cursor: hand;
}

.btn {
  -fx-border-radius: 5;
  -fx-padding: 5 20 5 20;
  -fx-font-size: 14px;
  -fx-background-color: -fx-default-btn;
  transition: all 0.3s;
  -fx-border-width: 1;
  -fx-border-color: transparent;
}

.btn.btn-default {
  -fx-text-fill: -fx-text;
  -fx-border-color: -fx-fg-secondary;
}

.btn.btn-default:hover, .btn.btn-default:focused {
  -fx-text-fill: -fx-primary;
  -fx-border-color: -fx-primary;
}

.btn:pressed {
  -fx-scale: 0.95;
}

.btn-primary {
  -fx-background-color: -fx-primary;
  -fx-text-fill: -fx-bg;
}

.btn-secondary {
  -fx-background-color: -fx-secondary;
  -fx-text-fill: -fx-bg;
}

.btn.btn-primary:hover, .btn.btn-primary:focused {
  -fx-background-color: -fx-primary-hover;
}

.btn.btn-text {
  -fx-background-color: transparent;
  -fx-text-fill: inherit;
}

.btn.btn-text:hover, .btn.btn-text:focused {
  -fx-background-color: -fx-fg;
  -fx-text-fill: -fx-primary;
}

.input {
  -fx-background-color: -fx-fg;
  -fx-border-radius: 5;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-text;
  -fx-border-width: 1;
  -fx-border-color: -fx-fg-secondary;
}

.input:selected,
.input:focused {
  -fx-border-color: -fx-primary;
}

.input:disabled {
  -fx-background-color: -fx-disabled;
  -fx-cursor: not-allowed;
  -fx-prompt-text-fill: -fx-muted;
}

.text-area .content {
  -fx-background-color: -fx-fg;
  -fx-border-radius: 5;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-text;
  -fx-text-box-border: transparent;
}

.text-area {
  -fx-border-color: transparent;
  -fx-background-color: -fx-fg;
  -fx-border-radius: 5;
}

.text-area:focused, .text-area:selected {
  -fx-border-color: -fx-primary;
}

.combo-box {
  -fx-background-color: -fx-fg;
  -fx-text-fill: -fx-text;
  -fx-border-radius: 5;
  -fx-padding: 0;
  -fx-font-size: 14px;
  -fx-cursor: hand;
  -fx-border-width: 1;
  -fx-border-color: transparent;
}

.combo-box:focused {
  -fx-border-color: -fx-primary;
}

.check-box {
  -fx-background-color: -fx-bg;
  -fx-text-fill: -fx-text;
  -fx-border-radius: 5;
  -fx-padding: 5 10;
  -fx-font-size: 14px;
  -fx-cursor: hand;
}

.check-box .box {
  -fx-background-color: -fx-bg;
  -fx-border-color: -fx-prompt-text-fill;
  -fx-border-radius: 3;
}

.check-box:hover .box {
  -fx-border-color: -fx-primary;
}

.check-box:selected .box {
  -fx-background-color: -fx-primary;
  -fx-border-color: -fx-primary;
}

.check-box .box .mark {
  -fx-background-color: -fx-fg;
}

/*.combo-box .arrow-button {*/
/*  -fx-background-color: -fx-primary;*/
/*  -fx-text-fill: -fx-bg;*/
/*}*/

/*.combo-box .arrow-button .arrow {*/
/*  -fx-background-color: -fx-bg;*/
/*}*/

/*.combo-box:hover {*/
/*  -fx-background-color: -fx-primary-hover;*/
/*}*/

.chip {
  -fx-background-color: #e0e0e080;
  -fx-padding: 2px 8px;
  -fx-border-radius: 5px;
  -fx-font-size: 12px;
}

.table-row-cell:selected .chip {
  /*-fx-background-color: #aaaaaa;*/
  /*-fx-text-fill: -fx-text;*/
}

.or-separator {
  -fx-background-color: #000;
  -fx-max-width: Infinity;
  -fx-max-height: 1;
  -fx-min-height: 1;
  -fx-fill: -fx-muted;
  -fx-border-color: -fx-bg;
  -fx-border-width: 0;
  -fx-scale-y: 0.5;
}

.or-label {
  -fx-font-size: 14px;
  -fx-text-fill: gray;
}

.title-text {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: -fx-text;
  -fx-fill: -fx-text;
}


.date-picker {
  -fx-background-color: -fx-fg;
  -fx-border-width: 1;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-text;
  -fx-border-color: transparent;
  -fx-border-radius: 5;
}

.date-picker .text-field {
  -fx-background-color: -fx-fg;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-text;
}

.date-picker:focused {
  -fx-border-color: -fx-primary;
}

.date-picker .arrow-button {
  -fx-background-color: -fx-fg;
  -fx-border-radius: 5;
  -fx-padding: 5px 10px;
  -fx-cursor: hand;
}

.date-picker-popup {
  -fx-background-color: -fx-bg;
  -fx-border-color: -fx-fg;
  -fx-border-radius: 5;
}

.custom-alert {
  -fx-background-color: -fx-bg;
}

.header-pane {
  -fx-font-weight: bold;
  -fx-background-color: -fx-bg;
}

.custom-alert-content {
  -fx-font-size: 14px;
  -fx-text-fill: -fx-text;
}

.loading-wrapper {
  -fx-background-color: rgba(0, 0, 0, 0.5);
  -fx-padding: 20;
  -fx-spacing: 20;
}

.loading-wrapper Text {
  -fx-font-size: 20px;
  -fx-fill: -fx-bg;
}

.loading-wrapper#cancelButton {
  -fx-text-fill: -fx-bg;
}

.footer-label {
  -fx-font-size: 8px;
  -fx-text-fill: -fx-muted;
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-min-width: 100%;
}

.content-title {
  -fx-font-size: 24px;
  -fx-font-weight: 700;
  -fx-text-fill: #111111;
}

.table-view {
  -fx-padding: 5;
  -fx-font-size: 12px;
}

.table-view:focused {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.table-row-cell {
  -fx-cell-size: 24px;
}

.table-cell {
  -fx-padding: 0 5 0 5;
}

.full-width-button {
  -fx-max-width: Infinity;

}

.tab-pane .tab-header-area .tab {
  -fx-background-color: -fx-fg;
  -fx-text-fill: -fx-text;
  -fx-cursor: hand;
  -fx-border-width: 0 !important;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-style: none;
  -fx-border-width: 0;
  -fx-border-color: transparent;
}

.tab-pane .tab-header-area .tab:selected {
  -fx-background-color: -fx-primary;
}

.tab-pane .tab-header-area .tab:selected:hover {
  -fx-background-color: -fx-primary-hover;
}

.tab-pane .tab-header-area .tab:selected:hover .tab-label {
  -fx-text-fill: -fx-bg;
}

.tab-pane .tab-header-area .tab:hover {
  -fx-background-color: -fx-bg;
  -fx-text-fill: -fx-primary-hover;
}

.tab-pane .tab-header-area .tab:selected .tab-label {
  -fx-text-fill: -fx-bg;
  -fx-border-width: 0 !important;
}

.tab-pane .tab-header-area .tab:hover .tab-label {
  -fx-text-fill: -fx-primary-hover;
}

.profile-image-upload {
  -fx-background-color: -fx-bg;
  -fx-border-radius: 50%;
  -fx-background-radius: 50%;
  -fx-border-width: 2;
  -fx-border-color: -fx-primary;
  -fx-cursor: hand;
}

.profile-image-upload:hover {
  -fx-border-color: -fx-primary-hover;
}

.profile-image-upload .image {
  -fx-background-radius: 50%;
  -fx-border-radius: 50%;
}

.profile-image {
  -fx-border-radius: 50%;
  -fx-cursor: hand;
}

.change-avatar-label {
  -fx-blend-mode: difference;
}

.v-separator {
  -fx-background-color: -fx-muted;
  -fx-max-height: Infinity;
  -fx-max-width: 1;
  -fx-min-width: 1;
  -fx-fill: -fx-muted;
  -fx-border-color: -fx-bg;
  -fx-border-width: 0;
  -fx-scale-x: 0.5;
}

.h-separator {
  -fx-background-color: -fx-muted;
  -fx-max-width: Infinity;
  -fx-max-height: 1;
  -fx-min-height: 1;
  -fx-fill: -fx-muted;
  -fx-border-color: -fx-bg;
  -fx-border-width: 0;
  -fx-scale-y: 0.5;
}